{
    "master": false,
    "max_players": 32,
    "password": {
        "admin": [
            "replaceme"
        ]
    },
    "scripts": [],
    "teambalance": 0,
    "teams": [
        [
            "spectator",
            -1,
            -1,
            -1,
            true
        ],
        [
            "red",
            255,
            0,
            0,
            false
        ],
        [
            "blue",
            0,
            0,
            255,
            false
        ]
    ],
    "port": 50000
}